<a href="https://colab.research.google.com/github/noahfavreau/nasa-space-apps-2025/blob/main/preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [357]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import missingno
import requests
import os
import math

In [358]:
def does_file_exists():
  if os.path.exists("koi_dataset.csv") is False:

    data = {
        'workspace': '2025.09.16_10.59.53_025532/TblView/2025.10.04_07.13.21_034286',
        'useTimestamp': '1',
        'table': '/exodata/kvmexoweb/ExoTables/cumulative.tbl',
        'format': 'CSV',
        'user': '',
        'label': '',
        'columns': 'kepid_display,kepoi_name,kepler_name,koi_disposition,koi_pdisposition,koi_score,koi_fpflag_nt,koi_fpflag_ss,koi_fpflag_co,koi_fpflag_ec,koi_period_str,koi_time0bk_str,koi_impact_str,koi_duration_str,koi_depth_str,koi_prad_str,koi_teq_str,koi_insol_str,koi_model_snr,koi_tce_plnt_num,koi_tce_delivname,koi_steff_str,koi_slogg_str,koi_srad_str,ra,dec,koi_kepmag',
        'rows': 'both',
        'mission': 'ExoplanetArchive',
    }

    koi_dataset = requests.post(
        'https://exoplanetarchive.ipac.caltech.edu/cgi-bin/IceTable/nph-iceTblDownload',
        data=data,
    )
    with open("koi_dataset.csv", "wb") as f:
      f.write(koi_dataset.content)

  if os.path.exists("toi_dataset.csv") is False:
    data = {
        'workspace': '2025.09.16_10.59.53_025532/TblView/2025.10.04_07.20.22_013969',
        'useTimestamp': '1',
        'table': '/exodata/kvmexoweb/ExoTables/TOI.tbl',
        'format': 'CSV',
        'user': '',
        'label': '',
        'columns': 'toi_display,tidstr,tfopwg_disp,rastr,decstr,st_pmrastr,st_pmdecstr,pl_tranmidstr,pl_orbperstr,pl_trandurhstr,pl_trandepstr,pl_radestr,pl_insolstr,pl_eqtstr,st_tmagstr,st_diststr,st_teffstr,st_loggstr,st_radstr,toi_created,rowupdate',
        'rows': 'both',
        'mission': 'ExoplanetArchive',
    }

    toi_dataset = requests.post(
        'https://exoplanetarchive.ipac.caltech.edu/cgi-bin/IceTable/nph-iceTblDownload',
        data=data,
    )
    with open("toi_dataset.csv", "wb") as f:
      f.write(toi_dataset.content)

  if os.path.exists("k2_dataset.csv") is False:
    data = {
        'workspace': '2025.09.16_10.59.53_025532/TblView/2025.10.04_07.21.51_016669',
        'useTimestamp': '1',
        'table': '/exodata/kvmexoweb/ExoTables/k2pandc.tbl',
        'format': 'CSV',
        'user': '',
        'label': '',
        'columns': 'pl_name_display,hostname,default_flag,disposition,disp_refname,sy_snum,sy_pnum,discoverymethod,disc_year,disc_facility,soltype,pl_controv_flag,pl_refname,pl_orbperstr,pl_orbsmaxstr,pl_radestr,pl_radjstr,pl_bmassestr,pl_bmassjstr,pl_bmassprov,pl_orbeccenstr,pl_insolstr,pl_eqtstr,ttv_flag,st_refname,st_spectype,st_teffstr,st_radstr,st_massstr,st_metstr,st_metratio,st_loggstr,sy_refname,rastr,decstr,sy_diststr,sy_vmagstr,sy_kmagstr,sy_gaiamagstr,rowupdate,pl_pubdate,releasedate',
        'rows': 'both',
        'mission': 'ExoplanetArchive',
    }

    k2_dataset = requests.post(
        'https://exoplanetarchive.ipac.caltech.edu/cgi-bin/IceTable/nph-iceTblDownload',
        data=data,
    )
    with open("k2_dataset.csv", "wb") as f:
      f.write(k2_dataset.content)

In [359]:
does_file_exists()
koi_dataset = pd.read_csv("koi_dataset.csv", comment="#", na_values=["NaN", "NULL", "-1"])
toi_dataset = pd.read_csv("toi_dataset.csv", comment="#", na_values=["NaN", "NULL", "-1"])
k2_dataset = pd.read_csv("k2_dataset.csv", comment="#", na_values=["NaN", "NULL", "-1"])

In [360]:
koi_dataset.head(10)
koi_dataset.tail(10)

,kepid,kepoi_name,kepler_name,koi_disposition,koi_pdisposition,koi_score,koi_fpflag_nt,koi_fpflag_ss,koi_fpflag_co,koi_fpflag_ec,...,koi_steff_err2,koi_slogg,koi_slogg_err1,koi_slogg_err2,koi_srad,koi_srad_err1,koi_srad_err2,ra,dec,koi_kepmag
9554,10079481,K08195.01,NaN,3,3,0.000,1,0,0,0,...,-186.0,4.382,0.096,-0.144,1.066,0.222,-0.148,293.56528,47.093620,11.976
9555,10081899,K08196.01,NaN,3,3,0.000,1,0,0,0,...,-41.0,4.939,0.044,-0.036,0.318,0.030,-0.037,294.46457,47.045441,15.279
9556,10199817,K08197.01,NaN,3,3,0.053,1,0,0,0,...,-229.0,4.073,0.385,-0.165,1.440,0.353,-0.529,288.39456,47.264351,12.152
9557,10205598,K08198.01,NaN,3,3,0.008,1,0,0,0,...,-141.0,4.574,0.078,-0.052,0.699,0.074,-0.066,290.93597,47.290730,14.911
9558,10031643,K07984.01,NaN,3,3,0.000,0,0,0,1,...,-152.0,4.296,0.231,-0.189,1.088,0.313,-0.228,298.74921,46.973351,14.478
9559,10090151,K07985.01,NaN,3,3,0.000,0,1,1,0,...,-166.0,4.529,0.035,-0.196,0.903,0.237,-0.079,297.18875,47.093819,14.082
9560,10128825,K07986.01,NaN,2,2,0.497,0,0,0,0,...,-220.0,4.444,0.056,-0.224,1.031,0.341,-0.114,286.50937,47.163219,14.757
9561,10147276,K07987.01,NaN,3,3,0.021,0,0,1,0,...,-236.0,4.447,0.056,-0.224,1.041,0.341,-0.114,294.16489,47.176281,15.385
9562,10155286,K07988.01,NaN,2,2,0.092,0,0,0,0,...,-128.0,2.992,0.030,-0.027,7.824,0.223,-1.896,296.76288,47.145142,10.998
9563,10156110,K07989.01,NaN,3,3,0.000,0,0,1,1,...,-225.0,4.385,0.054,-0.216,1.193,0.410,-0.137,297.00977,47.121021,14.826

In [361]:
toi_dataset.head(10)
toi_dataset.tail(10)

,toi,tid,tfopwg_disp,rastr,ra,decstr,dec,st_pmra,st_pmraerr1,st_pmraerr2,...,st_logg,st_loggerr1,st_loggerr2,st_logglim,st_rad,st_raderr1,st_raderr2,st_radlim,toi_created,rowupdate
7693,990.01,88684250,2,08h07m39.25s,121.913554,-05d46m12.28s,-5.770077,-3.806,0.088,-0.088,...,4.22,0.07,-0.07,0,1.860000,0.070000,-0.070000,0,2019-07-24 15:58:33,2023-04-04 16:02:02
7694,991.01,7561203,2,07h37m23.08s,114.346166,-11d09m04.68s,-11.151301,-3.178,0.117,-0.117,...,4.18,0.08,-0.08,0,2.130000,0.110000,-0.110000,0,2019-07-24 15:58:33,2024-09-09 10:08:01
7695,992.01,108835813,3,07h30m28.01s,112.616704,-26d04m50.46s,-26.080682,-2.927,0.061,-0.061,...,NaN,NaN,NaN,0,NaN,NaN,NaN,0,2019-07-24 15:58:33,2021-10-29 12:59:15
7696,993.01,259353953,2,07h35m50.6s,113.960841,-15d29m58.04s,-15.499455,-9.483,0.058,-0.058,...,4.28,0.08,-0.08,0,1.670000,0.050000,-0.050000,0,2019-07-24 15:58:33,2023-07-12 16:02:01
7697,994.01,93963408,3,07h40m11.12s,115.046333,-09d05m03.37s,-9.084269,-7.229,0.089,-0.089,...,4.32,0.07,-0.07,0,1.877390,0.078985,-0.078985,0,2019-07-24 15:58:33,2021-10-29 12:59:15
7698,995.01,317951248,3,07h23m14.75s,110.811443,+05d33m46.26s,5.562850,2.061,0.405,-0.405,...,NaN,NaN,NaN,0,NaN,NaN,NaN,0,2019-07-24 15:58:33,2021-10-29 12:59:15
7699,996.01,142918609,3,07h57m23.99s,119.349948,-19d30m57.65s,-19.516015,-3.900,0.848,-0.848,...,NaN,NaN,NaN,0,2.050000,NaN,NaN,0,2019-07-24 15:58:33,2021-10-29 12:59:15
7700,997.01,341729521,3,08h05m16.69s,121.319521,-59d34m47.27s,-59.579798,-44.770,0.044,-0.044,...,4.52,0.08,-0.08,0,0.926261,0.045789,-0.045789,0,2019-07-24 15:58:33,2024-09-09 10:08:01
7701,998.01,54390047,3,07h53m16.69s,118.319555,-14d13m07.76s,-14.218823,-1.706,0.069,-0.069,...,4.01,0.07,-0.07,0,2.349860,0.091578,-0.091578,0,2019-07-24 15:58:33,2024-09-09 10:08:01
7702,999.01,341186896,3,07h55m27.38s,118.864086,-58d13m19.42s,-58.222060,-17.190,0.042,-0.042,...,4.35,0.09,-0.09,0,1.300000,0.050000,-0.050000,0,2019-07-24 15:58:33,2024-09-09 10:08:01

In [362]:
koi_dataset.shape
koi_dataset.columns
koi_dataset.info()
koi_dataset.describe(include="all")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9564 entries, 0 to 9563
Data columns (total 49 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   kepid              9564 non-null   int64
 1   kepoi_name         9564 non-null   object
 2   kepler_name        2747 non-null   object
 3   koi_disposition    9564 non-null   int64
 4   koi_pdisposition   9564 non-null   int64
 5   koi_score          8054 non-null   float64
 6   koi_fpflag_nt      9564 non-null   int64
 7   koi_fpflag_ss      9564 non-null   int64
 8   koi_fpflag_co      9564 non-null   int64
 9   koi_fpflag_ec      9564 non-null   int64
 10  koi_period         9564 non-null   float64
 11  koi_period_err1    9110 non-null   float64
 12  koi_period_err2    9110 non-null   float64
 13  koi_time0bk        9564 non-null   float64
 14  koi_time0bk_err1   9110 non-null   float64
 15  koi_time0bk_err2   9110 non-null   float64
 16  koi_impact         9201 non-null   float64
 17  koi_impact_err1    9110 non-null   float64
 18  koi_impact_err2    9110 non-null   float64
 19  koi_duration       9564 non-null   float64
 20  koi_duration_err1  9110 non-null   float64
 21  koi_duration_err2  9061 non-null   float64
 22  koi_depth          9201 non-null   float64
 23  koi_depth_err1     9110 non-null   float64
 24  koi_depth_err2     9108 non-null   float64
 25  koi_prad           9201 non-null   float64
 26  koi_prad_err1      9201 non-null   float64
 27  koi_prad_err2      9195 non-null   float64
 28  koi_teq            9201 non-null   float64
 29  koi_teq_err1       0 non-null      float64
 30  koi_teq_err2       0 non-null      float64
 31  koi_insol          9243 non-null   float64
 32  koi_insol_err1     9243 non-null   float64
 33  koi_insol_err2     9235 non-null   float64
 34  koi_model_snr      9201 non-null   float64
 35  koi_tce_plnt_num   9218 non-null   float64
 36  koi_tce_delivname  9218 non-null   object
 37  koi_steff          9201 non-null   float64
 38  koi_steff_err1     9096 non-null   float64
 39  koi_steff_err2     9081 non-null   float64
 40  koi_slogg          9201 non-null   float64
 41  koi_slogg_err1     9096 non-null   float64
 42  koi_slogg_err2     9096 non-null   float64
 43  koi_srad           9201 non-null   float64
 44  koi_srad_err1      9096 non-null   float64
 45  koi_srad_err2      9095 non-null   float64
 46  ra                 9564 non-null   float64
 47  dec                9564 non-null   float64
 48  koi_kepmag         9563 non-null   float64
dtypes: float64(39), int64(7), object(3)
memory usage: 3.6+ MB

,kepid,kepoi_name,kepler_name,koi_disposition,koi_pdisposition,koi_score,koi_fpflag_nt,koi_fpflag_ss,koi_fpflag_co,koi_fpflag_ec,...,koi_steff_err2,koi_slogg,koi_slogg_err1,koi_slogg_err2,koi_srad,koi_srad_err1,koi_srad_err2,ra,dec,koi_kepmag
count,9.564000e+03,9564,2747,9564.000000,9564.000000,8054.000000,9564.000000,9564.000000,9564.000000,9564.000000,...,9081.000000,9201.000000,9096.000000,9096.000000,9201.000000,9096.000000,9095.000000,9564.000000,9564.000000,9563.000000
unique,NaN,9564,2747,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,K07989.01,Kepler-1975 b,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,7.690628e+06,NaN,NaN,2.218841,2.506796,0.480829,0.208595,0.232748,0.197512,0.120033,...,-162.265059,4.310157,0.120738,-0.143161,1.728712,0.362292,-0.394739,292.060163,43.810433,14.264606
std,2.653459e+06,NaN,NaN,0.863287,0.499980,0.476928,4.767290,0.422605,0.398142,0.325018,...,72.746348,0.432606,0.132837,0.085477,6.127185,0.930870,2.168323,4.766657,3.601243,1.385448
min,7.574500e+05,NaN,NaN,1.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,-1762.000000,0.047000,0.000000,-1.207000,0.109000,0.000000,-116.137000,279.852720,36.577381,6.966000
25%,5.556034e+06,NaN,NaN,1.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,-198.000000,4.218000,0.042000,-0.196000,0.829000,0.129000,-0.249500,288.660770,40.777173,13.440000
50%,7.906892e+06,NaN,NaN,3.000000,3.000000,0.334000,0.000000,0.000000,0.000000,0.000000,...,-160.000000,4.438000,0.070000,-0.128000,1.000000,0.251000,-0.111000,292.261125,43.677504,14.520000
75%,9.873066e+06,NaN,NaN,3.000000,3.000000,0.998000,0.000000,0.000000,0.000000,0.000000,...,-114.000000,4.543000,0.149000,-0.088000,1.345000,0.364000,-0.069000,295.859160,46.714611,15.322000
max,1.293514e+07,NaN,NaN,3.000000,3.000000,1.000000,465.000000,1.000000,1.000000,1.000000,...,0.000000,5.364000,1.472000,0.000000,229.908000,33.091000,0.000000,301.720760,52.336010,20.003000

In [363]:
k2_dataset.head(10)
k2_dataset.tail(10)

,pl_name,hostname,default_flag,disposition,disp_refname,sy_snum,sy_pnum,discoverymethod,disc_year,disc_facility,...,sy_vmagerr2,sy_kmag,sy_kmagerr1,sy_kmagerr2,sy_gaiamag,sy_gaiamagerr1,sy_gaiamagerr2,rowupdate,pl_pubdate,releasedate
3994,WASP-85 A b,WASP-85 A,0,1,Mo&,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3995,WASP-85 A b,WASP-85 A,0,1,Mo&,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3996,WASP-85 A b,WASP-85 A,0,1,Mo&,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3997,WASP-85 A b,WASP-85 A,0,1,Mo&,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3998,WASP-85 A b,WASP-85 A,1,1,Mo&,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3999,WASP-85 A b,WASP-85 A,0,1,Mo&,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4000,Wolf 503 b,Wolf 503,1,1,Peterson et al. 2018,1.0,1.0,Transit,2018.0,K2,...,-0.03,7.617,0.023,-0.023,9.89816,0.000337,-0.000337,2022-05-23,2021-12,2022-05-23
4001,Wolf 503 b,Wolf 503,0,1,Peterson et al. 2018,1.0,1.0,Transit,2018.0,K2,...,-0.03,7.617,0.023,-0.023,9.89816,0.000337,-0.000337,2018-09-04,2018-11,2018-09-06
4002,Wolf 503 b,Wolf 503,0,1,Peterson et al. 2018,1.0,1.0,Transit,2018.0,K2,...,-0.03,7.617,0.023,-0.023,9.89816,0.000337,-0.000337,2023-04-17,2023-04,2023-04-17
4003,Wolf 503 b,Wolf 503,0,1,Peterson et al. 2018,1.0,1.0,Transit,2018.0,K2,...,-0.03,7.617,0.023,-0.023,9.89816,0.000337,-0.000337,2025-09-17,2017-07,2025-08-28

In [364]:
toi_dataset.shape
toi_dataset.columns
toi_dataset.info()
toi_dataset.describe(include="all")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7703 entries, 0 to 7702
Data columns (total 65 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   toi              7703 non-null   float64
 1   tid              7703 non-null   int64
 2   tfopwg_disp      7703 non-null   object
 3   rastr            7703 non-null   object
 4   ra               7703 non-null   float64
 5   decstr           7703 non-null   object
 6   dec              7703 non-null   float64
 7   st_pmra          7569 non-null   float64
 8   st_pmraerr1      7569 non-null   float64
 9   st_pmraerr2      7568 non-null   float64
 10  st_pmralim       7569 non-null   float64
 11  st_pmdec         7569 non-null   float64
 12  st_pmdecerr1     7569 non-null   float64
 13  st_pmdecerr2     7568 non-null   float64
 14  st_pmdeclim      7569 non-null   float64
 15  pl_tranmid       7703 non-null   float64
 16  pl_tranmiderr1   7692 non-null   float64
 17  pl_tranmiderr2   7692 non-null   float64
 18  pl_tranmidlim    7703 non-null   int64
 19  pl_orbper        7596 non-null   float64
 20  pl_orbpererr1    7572 non-null   float64
 21  pl_orbpererr2    7572 non-null   float64
 22  pl_orbperlim     7703 non-null   int64
 23  pl_trandurh      7703 non-null   float64
 24  pl_trandurherr1  7690 non-null   float64
 25  pl_trandurherr2  7690 non-null   float64
 26  pl_trandurhlim   7703 non-null   int64
 27  pl_trandep       7703 non-null   float64
 28  pl_trandeperr1   7697 non-null   float64
 29  pl_trandeperr2   7697 non-null   float64
 30  pl_trandeplim    7703 non-null   int64
 31  pl_rade          7197 non-null   float64
 32  pl_radeerr1      6080 non-null   float64
 33  pl_radeerr2      6080 non-null   float64
 34  pl_radelim       7703 non-null   int64
 35  pl_insol         7527 non-null   float64
 36  pl_insolerr1     0 non-null      float64
 37  pl_insolerr2     0 non-null      float64
 38  pl_insollim      0 non-null      float64
 39  pl_eqt           7392 non-null   float64
 40  pl_eqterr1       0 non-null      float64
 41  pl_eqterr2       0 non-null      float64
 42  pl_eqtlim        0 non-null      float64
 43  st_tmag          7703 non-null   float64
 44  st_tmagerr1      7703 non-null   float64
 45  st_tmagerr2      7700 non-null   float64
 46  st_tmaglim       7703 non-null   int64
 47  st_dist          7488 non-null   float64
 48  st_disterr1      6996 non-null   float64
 49  st_disterr2      6994 non-null   float64
 50  st_distlim       7703 non-null   int64
 51  st_teff          7542 non-null   float64
 52  st_tefferr1      7229 non-null   float64
 53  st_tefferr2      7229 non-null   float64
 54  st_tefflim       7703 non-null   int64
 55  st_logg          6847 non-null   float64
 56  st_loggerr1      5432 non-null   float64
 57  st_loggerr2      5432 non-null   float64
 58  st_logglim       7703 non-null   int64
 59  st_rad           7196 non-null   float64
 60  st_raderr1       5740 non-null   float64
 61  st_raderr2       5739 non-null   float64
 62  st_radlim        7703 non-null   int64
 63  toi_created      7703 non-null   object
 64  rowupdate        7703 non-null   object
dtypes: float64(49), int64(11), object(5)
memory usage: 3.8+ MB

,toi,tid,tfopwg_disp,rastr,ra,decstr,dec,st_pmra,st_pmraerr1,st_pmraerr2,...,st_logg,st_loggerr1,st_loggerr2,st_logglim,st_rad,st_raderr1,st_raderr2,st_radlim,toi_created,rowupdate
count,7703.000000,7.703000e+03,7703,7703,7703.000000,7703,7703.000000,7569.000000,7569.000000,7568.000000,...,6847.000000,5432.000000,5432.000000,7703.0,7196.000000,5740.000000,5739.000000,7703.0,7703,7703
unique,NaN,NaN,5,7390,NaN,7400,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1940,893
top,NaN,NaN,2,00h29m12.48s,NaN,-30d27m14.82s,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-10-17 00:30:12,2024-08-22 10:08:01
freq,NaN,NaN,4679,5,NaN,5,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,106,2288
mean,3749.039313,2.455227e+08,NaN,NaN,179.804241,NaN,1.156538,-0.567223,0.228733,-0.228631,...,4.305269,0.174805,-0.174805,0.0,1.403747,0.074439,-0.074278,0.0,NaN,NaN
std,2152.357244,1.616968e+08,NaN,NaN,103.705905,NaN,47.465287,77.003956,0.632226,0.632206,...,0.304492,0.351881,0.351881,0.0,1.598079,0.082037,0.081129,0.0,NaN,NaN
min,101.010000,2.876000e+03,NaN,NaN,0.084680,NaN,-89.471513,-1624.050000,0.015000,-8.000000,...,0.100000,0.000391,-2.010840,0.0,0.114827,0.003357,-1.723020,0.0,NaN,NaN
25%,1861.510000,1.311389e+08,NaN,NaN,96.069552,NaN,-43.355251,-10.617000,0.038000,-0.079250,...,4.123720,0.080000,-0.092600,0.0,0.890000,0.050000,-0.080000,0.0,NaN,NaN
50%,3736.010000,2.499452e+08,NaN,NaN,161.156925,NaN,4.715116,-1.571000,0.051000,-0.051000,...,4.330000,0.084561,-0.084561,0.0,1.234340,0.060000,-0.060000,0.0,NaN,NaN
75%,5615.510000,3.540917e+08,NaN,NaN,283.061467,NaN,43.806822,8.258000,0.080000,-0.038000,...,4.500000,0.092600,-0.080000,0.0,1.660000,0.080000,-0.050000,0.0,NaN,NaN
max,7509.010000,2.041563e+09,NaN,NaN,359.941195,NaN,89.086923,2074.520000,8.000000,-0.015000,...,5.960650,2.010840,-0.000391,0.0,102.030000,1.723020,-0.003357,0.0,NaN,NaN

In [365]:
koi_dataset.info()
print(koi_dataset.isnull().sum())
koi_dataset.info()
print(koi_dataset.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9564 entries, 0 to 9563
Data columns (total 49 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   kepid              9564 non-null   int64
 1   kepoi_name         9564 non-null   object
 2   kepler_name        2747 non-null   object
 3   koi_disposition    9564 non-null   int64
 4   koi_pdisposition   9564 non-null   int64
 5   koi_score          8054 non-null   float64
 6   koi_fpflag_nt      9564 non-null   int64
 7   koi_fpflag_ss      9564 non-null   int64
 8   koi_fpflag_co      9564 non-null   int64
 9   koi_fpflag_ec      9564 non-null   int64
 10  koi_period         9564 non-null   float64
 11  koi_period_err1    9110 non-null   float64
 12  koi_period_err2    9110 non-null   float64
 13  koi_time0bk        9564 non-null   float64
 14  koi_time0bk_err1   9110 non-null   float64
 15  koi_time0bk_err2   9110 non-null   float64
 16  koi_impact         9201 non-null   float64
 17  koi_impact_err1    9110 non-null   float64
 18  koi_impact_err2    9110 non-null   float64
 19  koi_duration       9564 non-null   float64
 20  koi_duration_err1  9110 non-null   float64
 21  koi_duration_err2  9061 non-null   float64
 22  koi_depth          9201 non-null   float64
 23  koi_depth_err1     9110 non-null   float64
 24  koi_depth_err2     9108 non-null   float64
 25  koi_prad           9201 non-null   float64
 26  koi_prad_err1      9201 non-null   float64
 27  koi_prad_err2      9195 non-null   float64
 28  koi_teq            9201 non-null   float64
 29  koi_teq_err1       0 non-null      float64
 30  koi_teq_err2       0 non-null      float64
 31  koi_insol          9243 non-null   float64
 32  koi_insol_err1     9243 non-null   float64
 33  koi_insol_err2     9235 non-null   float64
 34  koi_model_snr      9201 non-null   float64
 35  koi_tce_plnt_num   9218 non-null   float64
 36  koi_tce_delivname  9218 non-null   object
 37  koi_steff          9201 non-null   float64
 38  koi_steff_err1     9096 non-null   float64
 39  koi_steff_err2     9081 non-null   float64
 40  koi_slogg          9201 non-null   float64
 41  koi_slogg_err1     9096 non-null   float64
 42  koi_slogg_err2     9096 non-null   float64
 43  koi_srad           9201 non-null   float64
 44  koi_srad_err1      9096 non-null   float64
 45  koi_srad_err2      9095 non-null   float64
 46  ra                 9564 non-null   float64
 47  dec                9564 non-null   float64
 48  koi_kepmag         9563 non-null   float64
dtypes: float64(39), int64(7), object(3)
memory usage: 3.6+ MB
kepid                   0
kepoi_name              0
kepler_name          6817
koi_disposition         0
koi_pdisposition        0
koi_score            1510
koi_fpflag_nt           0
koi_fpflag_ss           0
koi_fpflag_co           0
koi_fpflag_ec           0
koi_period              0
koi_period_err1       454
koi_period_err2       454
koi_time0bk             0
koi_time0bk_err1      454
koi_time0bk_err2      454
koi_impact            363
koi_impact_err1       454
koi_impact_err2       454
koi_duration            0
koi_duration_err1     454
koi_duration_err2     503
koi_depth             363
koi_depth_err1        454
koi_depth_err2        456
koi_prad              363
koi_prad_err1         363
koi_prad_err2         369
koi_teq               363
koi_teq_err1         9564
koi_teq_err2         9564
koi_insol             321
koi_insol_err1        321
koi_insol_err2        329
koi_model_snr         363
koi_tce_plnt_num      346
koi_tce_delivname     346
koi_steff             363
koi_steff_err1        468
koi_steff_err2        483
koi_slogg             363
koi_slogg_err1        468
koi_slogg_err2        468
koi_srad              363
koi_srad_err1         468
koi_srad_err2         469
ra                      0
dec                     0
koi_kepmag              1
dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9564 entries, 0 to 9563
Data columns (total 49 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   kepid              9564 non-null   int64
 1   kepoi_name         9564 non-null   object
 2   kepler_name        2747 non-null   object
 3   koi_disposition    9564 non-null   int64
 4   koi_pdisposition   9564 non-null   int64
 5   koi_score          8054 non-null   float64
 6   koi_fpflag_nt      9564 non-null   int64
 7   koi_fpflag_ss      9564 non-null   int64
 8   koi_fpflag_co      9564 non-null   int64
 9   koi_fpflag_ec      9564 non-null   int64
 10  koi_period         9564 non-null   float64
 11  koi_period_err1    9110 non-null   float64
 12  koi_period_err2    9110 non-null   float64
 13  koi_time0bk        9564 non-null   float64
 14  koi_time0bk_err1   9110 non-null   float64
 15  koi_time0bk_err2   9110 non-null   float64
 16  koi_impact         9201 non-null   float64
 17  koi_impact_err1    9110 non-null   float64
 18  koi_impact_err2    9110 non-null   float64
 19  koi_duration       9564 non-null   float64
 20  koi_duration_err1  9110 non-null   float64
 21  koi_duration_err2  9061 non-null   float64
 22  koi_depth          9201 non-null   float64
 23  koi_depth_err1     9110 non-null   float64
 24  koi_depth_err2     9108 non-null   float64
 25  koi_prad           9201 non-null   float64
 26  koi_prad_err1      9201 non-null   float64
 27  koi_prad_err2      9195 non-null   float64
 28  koi_teq            9201 non-null   float64
 29  koi_teq_err1       0 non-null      float64
 30  koi_teq_err2       0 non-null      float64
 31  koi_insol          9243 non-null   float64
 32  koi_insol_err1     9243 non-null   float64
 33  koi_insol_err2     9235 non-null   float64
 34  koi_model_snr      9201 non-null   float64
 35  koi_tce_plnt_num   9218 non-null   float64
 36  koi_tce_delivname  9218 non-null   object
 37  koi_steff          9201 non-null   float64
 38  koi_steff_err1     9096 non-null   float64
 39  koi_steff_err2     9081 non-null   float64
 40  koi_slogg          9201 non-null   float64
 41  koi_slogg_err1     9096 non-null   float64
 42  koi_slogg_err2     9096 non-null   float64
 43  koi_srad           9201 non-null   float64
 44  koi_srad_err1      9096 non-null   float64
 45  koi_srad_err2      9095 non-null   float64
 46  ra                 9564 non-null   float64
 47  dec                9564 non-null   float64
 48  koi_kepmag         9563 non-null   float64
dtypes: float64(39), int64(7), object(3)
memory usage: 3.6+ MB
kepid                   0
kepoi_name              0
kepler_name          6817
koi_disposition         0
koi_pdisposition        0
koi_score            1510
koi_fpflag_nt           0
koi_fpflag_ss           0
koi_fpflag_co           0
koi_fpflag_ec           0
koi_period              0
koi_period_err1       454
koi_period_err2       454
koi_time0bk             0
koi_time0bk_err1      454
koi_time0bk_err2      454
koi_impact            363
koi_impact_err1       454
koi_impact_err2       454
koi_duration            0
koi_duration_err1     454
koi_duration_err2     503
koi_depth             363
koi_depth_err1        454
koi_depth_err2        456
koi_prad              363
koi_prad_err1         363
koi_prad_err2         369
koi_teq               363
koi_teq_err1         9564
koi_teq_err2         9564
koi_insol             321
koi_insol_err1        321
koi_insol_err2        329
koi_model_snr         363
koi_tce_plnt_num      346
koi_tce_delivname     346
koi_steff             363
koi_steff_err1        468
koi_steff_err2        483
koi_slogg             363
koi_slogg_err1        468
koi_slogg_err2        468
koi_srad              363
koi_srad_err1         468
koi_srad_err2         469
ra                      0
dec                     0
koi_kepmag              1
dtype: int64

In [366]:
toi_dataset.info()
print(toi_dataset.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7703 entries, 0 to 7702
Data columns (total 65 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   toi              7703 non-null   float64
 1   tid              7703 non-null   int64
 2   tfopwg_disp      7703 non-null   object
 3   rastr            7703 non-null   object
 4   ra               7703 non-null   float64
 5   decstr           7703 non-null   object
 6   dec              7703 non-null   float64
 7   st_pmra          7569 non-null   float64
 8   st_pmraerr1      7569 non-null   float64
 9   st_pmraerr2      7568 non-null   float64
 10  st_pmralim       7569 non-null   float64
 11  st_pmdec         7569 non-null   float64
 12  st_pmdecerr1     7569 non-null   float64
 13  st_pmdecerr2     7568 non-null   float64
 14  st_pmdeclim      7569 non-null   float64
 15  pl_tranmid       7703 non-null   float64
 16  pl_tranmiderr1   7692 non-null   float64
 17  pl_tranmiderr2   7692 non-null   float64
 18  pl_tranmidlim    7703 non-null   int64
 19  pl_orbper        7596 non-null   float64
 20  pl_orbpererr1    7572 non-null   float64
 21  pl_orbpererr2    7572 non-null   float64
 22  pl_orbperlim     7703 non-null   int64
 23  pl_trandurh      7703 non-null   float64
 24  pl_trandurherr1  7690 non-null   float64
 25  pl_trandurherr2  7690 non-null   float64
 26  pl_trandurhlim   7703 non-null   int64
 27  pl_trandep       7703 non-null   float64
 28  pl_trandeperr1   7697 non-null   float64
 29  pl_trandeperr2   7697 non-null   float64
 30  pl_trandeplim    7703 non-null   int64
 31  pl_rade          7197 non-null   float64
 32  pl_radeerr1      6080 non-null   float64
 33  pl_radeerr2      6080 non-null   float64
 34  pl_radelim       7703 non-null   int64
 35  pl_insol         7527 non-null   float64
 36  pl_insolerr1     0 non-null      float64
 37  pl_insolerr2     0 non-null      float64
 38  pl_insollim      0 non-null      float64
 39  pl_eqt           7392 non-null   float64
 40  pl_eqterr1       0 non-null      float64
 41  pl_eqterr2       0 non-null      float64
 42  pl_eqtlim        0 non-null      float64
 43  st_tmag          7703 non-null   float64
 44  st_tmagerr1      7703 non-null   float64
 45  st_tmagerr2      7700 non-null   float64
 46  st_tmaglim       7703 non-null   int64
 47  st_dist          7488 non-null   float64
 48  st_disterr1      6996 non-null   float64
 49  st_disterr2      6994 non-null   float64
 50  st_distlim       7703 non-null   int64
 51  st_teff          7542 non-null   float64
 52  st_tefferr1      7229 non-null   float64
 53  st_tefferr2      7229 non-null   float64
 54  st_tefflim       7703 non-null   int64
 55  st_logg          6847 non-null   float64
 56  st_loggerr1      5432 non-null   float64
 57  st_loggerr2      5432 non-null   float64
 58  st_logglim       7703 non-null   int64
 59  st_rad           7196 non-null   float64
 60  st_raderr1       5740 non-null   float64
 61  st_raderr2       5739 non-null   float64
 62  st_radlim        7703 non-null   int64
 63  toi_created      7703 non-null   object
 64  rowupdate        7703 non-null   object
dtypes: float64(49), int64(11), object(5)
memory usage: 3.8+ MB
toi               0
tid               0
tfopwg_disp       0
rastr             0
ra                0
               ...
st_raderr1     1963
st_raderr2     1964
st_radlim         0
toi_created       0
rowupdate         0
Length: 65, dtype: int64

In [367]:
k2_dataset.info()
print(k2_dataset.isnull().sum())
print(f"Total entries: {9563 + 7702 + 4003}")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4004 entries, 0 to 4003
Data columns (total 94 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   pl_name          4004 non-null   object
 1   hostname         4004 non-null   object
 2   default_flag     4004 non-null   int64
 3   disposition      4004 non-null   int64
 4   disp_refname     4004 non-null   object
 5   sy_snum          3987 non-null   float64
 6   sy_pnum          3987 non-null   float64
 7   discoverymethod  3987 non-null   object
 8   disc_year        3987 non-null   float64
 9   disc_facility    3987 non-null   object
 10  soltype          3987 non-null   object
 11  pl_controv_flag  3987 non-null   float64
 12  pl_refname       3987 non-null   object
 13  pl_orbper        3937 non-null   float64
 14  pl_orbpererr1    3052 non-null   float64
 15  pl_orbpererr2    3050 non-null   float64
 16  pl_orbperlim     3932 non-null   float64
 17  pl_orbsmax       812 non-null    float64
 18  pl_orbsmaxerr1   805 non-null    float64
 19  pl_orbsmaxerr2   804 non-null    float64
 20  pl_orbsmaxlim    809 non-null    float64
 21  pl_rade          3159 non-null   float64
 22  pl_radeerr1      2874 non-null   float64
 23  pl_radeerr2      2869 non-null   float64
 24  pl_radelim       3159 non-null   float64
 25  pl_radj          3159 non-null   float64
 26  pl_radjerr1      2874 non-null   float64
 27  pl_radjerr2      2873 non-null   float64
 28  pl_radjlim       3159 non-null   float64
 29  pl_bmasse        428 non-null    float64
 30  pl_bmasseerr1    386 non-null    float64
 31  pl_bmasseerr2    385 non-null    float64
 32  pl_bmasselim     427 non-null    float64
 33  pl_bmassj        428 non-null    float64
 34  pl_bmassjerr1    386 non-null    float64
 35  pl_bmassjerr2    386 non-null    float64
 36  pl_bmassjlim     427 non-null    float64
 37  pl_bmassprov     428 non-null    object
 38  pl_orbeccen      422 non-null    float64
 39  pl_orbeccenerr1  226 non-null    float64
 40  pl_orbeccenerr2  226 non-null    float64
 41  pl_orbeccenlim   422 non-null    float64
 42  pl_insol         629 non-null    float64
 43  pl_insolerr1     447 non-null    float64
 44  pl_insolerr2     443 non-null    float64
 45  pl_insollim      629 non-null    float64
 46  pl_eqt           845 non-null    float64
 47  pl_eqterr1       677 non-null    float64
 48  pl_eqterr2       676 non-null    float64
 49  pl_eqtlim        845 non-null    float64
 50  ttv_flag         3981 non-null   float64
 51  st_refname       3965 non-null   object
 52  st_spectype      433 non-null    object
 53  st_teff          2877 non-null   float64
 54  st_tefferr1      2570 non-null   float64
 55  st_tefferr2      2564 non-null   float64
 56  st_tefflim       2877 non-null   float64
 57  st_rad           3856 non-null   float64
 58  st_raderr1       3226 non-null   float64
 59  st_raderr2       3219 non-null   float64
 60  st_radlim        3856 non-null   float64
 61  st_mass          2089 non-null   float64
 62  st_masserr1      1933 non-null   float64
 63  st_masserr2      1926 non-null   float64
 64  st_masslim       2089 non-null   float64
 65  st_met           1691 non-null   float64
 66  st_meterr1       1660 non-null   float64
 67  st_meterr2       1659 non-null   float64
 68  st_metlim        1691 non-null   float64
 69  st_metratio      1688 non-null   object
 70  st_logg          2347 non-null   float64
 71  st_loggerr1      2134 non-null   float64
 72  st_loggerr2      2134 non-null   float64
 73  st_logglim       2347 non-null   float64
 74  sy_refname       3981 non-null   object
 75  rastr            3981 non-null   object
 76  ra               3981 non-null   float64
 77  decstr           3981 non-null   object
 78  dec              3981 non-null   float64
 79  sy_dist          3856 non-null   float64
 80  sy_disterr1      3725 non-null   float64
 81  sy_disterr2      3725 non-null   float64
 82  sy_vmag          3939 non-null   float64
 83  sy_vmagerr1      3939 non-null   float64
 84  sy_vmagerr2      3939 non-null   float64
 85  sy_kmag          3958 non-null   float64
 86  sy_kmagerr1      3950 non-null   float64
 87  sy_kmagerr2      3950 non-null   float64
 88  sy_gaiamag       3925 non-null   float64
 89  sy_gaiamagerr1   3925 non-null   float64
 90  sy_gaiamagerr2   3925 non-null   float64
 91  rowupdate        3981 non-null   object
 92  pl_pubdate       3981 non-null   object
 93  releasedate      3981 non-null   object
dtypes: float64(75), int64(2), object(17)
memory usage: 2.9+ MB
pl_name            0
hostname           0
default_flag       0
disposition        0
disp_refname       0
                  ..
sy_gaiamagerr1    79
sy_gaiamagerr2    79
rowupdate         23
pl_pubdate        23
releasedate       23
Length: 94, dtype: int64
Total entries: 21268

In [368]:
"""
1 = CONFIRMED
2 = CANDIDATE
3 = FALSE POSITIVE
"""
mapping = {
    "CONFIRMED": "1",
    "CANDIDATE": "2",
    "FALSE POSITIVE": "3"
}
for col in koi_dataset.columns:
    if "koi_disposition" in col.lower():
        koi_dataset[col] = koi_dataset[col].astype(str).map(mapping).fillna(koi_dataset[col])
    if "koi_pdisposition" in col.lower():
        koi_dataset[col] = koi_dataset[col].astype(str).map(mapping).fillna(koi_dataset[col])

koi_dataset.to_csv("koi_dataset.csv", index=False)

/tmp/ipython-input-822734183.py:13: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  koi_dataset[col] = koi_dataset[col].astype(str).map(mapping).fillna(koi_dataset[col])
/tmp/ipython-input-822734183.py:15: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  koi_dataset[col] = koi_dataset[col].astype(str).map(mapping).fillna(koi_dataset[col])

In [369]:
mapping = {
    "CP": "1",
    "KP": "1",
    "FP": "3",
    "PC" : "2"
}
for col in toi_dataset.columns:
    if "tfopwg_disp" in col.lower():
        toi_dataset[col] = toi_dataset[col].astype(str).map(mapping).fillna(toi_dataset[col])


toi_dataset.to_csv("toi_dataset.csv", index=False)

In [370]:
mapping = {
    "CONFIRMED": "1",
    "CANDIDATE": "2",
    "FALSE POSITIVE": "3",
    "REFUTED" : "3"
}
for col in k2_dataset.columns:
    if "disposition" in col.lower():
        k2_dataset[col] = k2_dataset[col].astype(str).map(mapping).fillna(k2_dataset[col])


k2_dataset.to_csv("k2_dataset.csv", index=False)

/tmp/ipython-input-280255853.py:9: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  k2_dataset[col] = k2_dataset[col].astype(str).map(mapping).fillna(k2_dataset[col])

In [371]:
"""
COLUMN DELETION FOR KOI
kepid
kepler_name
koi_score
koi_fpflag_nt
koi_fpflag_ss
koi_fpflag_co
koi_fpflag_ec
koi_comment
koi_tce_plnt_num
koi_tce_delivname
"""
columns_to_delete = [
    "kepid",
    "kepler_name",
    "koi_score",
    "koi_fpflag_nt",
    "koi_fpflag_ss",
    "koi_fpflag_co",
    "koi_fpflag_ec",
    "koi_tce_plnt_num",
    "koi_tce_delivname"
]
for col in columns_to_delete:
  koi_dataset = koi_dataset.drop(col, axis=1)

threshold = 0.4
missing_fraction = koi_dataset.isna().mean()
koi_cleaned = koi_dataset.drop(columns=missing_fraction[missing_fraction > threshold].index)

print("Dropped:")
print(missing_fraction[missing_fraction > threshold])
print("Remaining: ", len(koi_cleaned.columns))
koi_cleaned.to_csv("koi_dataset_cleaned.csv", index=False)

Dropped:
koi_teq_err1    1.0
koi_teq_err2    1.0
dtype: float64
Remaining:  38

In [372]:
"""
COLUMN DELETION FOR TESS
  tid
  toi_created
  rowupdate
  st_pmralim
  st_pmdec
  pl_tranmidlim
  pl_orbperlim
  pl_trandurhlim
  pl_trandeplim
  pl_radelim
  pl_insolerr1
  pl_insolerr2
  pl_insollim
  pl_eqterr1
  pl_eqterr2
  pl_eqtlim
  st_tmaglim
  st_distlim
  st_tefflim
  st_logglim
  st_radlim
"""


columns_to_delete = [
  "tid",
  "toi_created",
  "rowupdate",
  "st_pmralim",
  "st_pmdec",
  "pl_tranmidlim",
  "pl_orbperlim",
  "pl_trandurhlim",
  "pl_trandeplim",
  "pl_radelim",
  "pl_insolerr1",
  "pl_insolerr2",
  "pl_insollim",
  "pl_eqterr1",
  "pl_eqterr2",
  "pl_eqtlim",
  "st_tmaglim",
  "st_distlim",
  "st_tefflim",
  "st_logglim",
  "st_radlim",


]
for col in columns_to_delete:
  toi_dataset = toi_dataset.drop(col, axis=1)


threshold = 0.4
missing_fraction = toi_dataset.isna().mean()
toi_cleaned = toi_dataset.drop(columns=missing_fraction[missing_fraction > threshold].index)

print("Dropped:")
print(missing_fraction[missing_fraction > threshold])
print("Remaining: ", len(toi_cleaned.columns))
toi_cleaned.to_csv("toi_dataset_cleaned.csv", index=False)

Dropped:
Series([], dtype: float64)
Remaining:  44

In [373]:
"""
COLUMN DELETION K2 DATASET

"""


columns_to_delete = [
  "hostname",
  "default_flag",
  "disp_refname",
  "discoverymethod",
  "disc_year",
  "disc_facility",
  "soltype",
  "pl_controv_flag",
  "pl_refname",
  "pl_orbsmax",
  "pl_orbeccen",
  "ttv_flag",
  "st_refname",
  "st_spectype",
  "rowupdate",
  "pl_pubdate",
  "releasedate",
  "pl_orbsmaxerr1",
  "pl_orbsmaxerr2",
  "pl_orbsmaxlim",
  "pl_radeerr1",
  "pl_radeerr2",
  "pl_radelim",
  "pl_radj",
  "pl_radjerr1",
  "pl_radjerr2",
  "pl_radjlim",
  "pl_bmasseerr1",
  "pl_bmasseerr2",
  "pl_bmasselim",
  "pl_bmassj",
  "pl_bmassjerr1",
  "pl_bmassjerr2",
  "pl_bmassprov",
  "pl_orbeccenerr1",
  "pl_orbeccenlim",
  "pl_insolerr1",
  "pl_insolerr2",
  "pl_eqterr1",
  "pl_eqterr2",
  "pl_eqtlim",
  "sy_refname",
  "pl_bmasse",
  "pl_bmassjlim",
  "pl_orbeccenerr2",
  "pl_insollim",

]
for col in columns_to_delete:
  k2_dataset = k2_dataset.drop(col, axis=1)

threshold = 0.4
missing_fraction = k2_dataset.isna().mean()
k2_cleaned = k2_dataset.drop(columns=missing_fraction[missing_fraction > threshold].index)

print("Dropped:")
print(missing_fraction[missing_fraction > threshold])
print("Remaining: ", len(k2_cleaned.columns))
k2_cleaned.to_csv("k2_dataset_cleaned.csv", index=False)

Dropped:
pl_insol       0.842907
pl_eqt         0.788961
st_mass        0.478272
st_masserr1    0.517233
st_masserr2    0.518981
st_masslim     0.478272
st_met         0.577672
st_meterr1     0.585415
st_meterr2     0.585664
st_metlim      0.577672
st_metratio    0.578422
st_logg        0.413836
st_loggerr1    0.467033
st_loggerr2    0.467033
st_logglim     0.413836
dtype: float64
Remaining:  33

In [374]:

"""
Calculate transit depth for k2 dataset, as it is missing from the values
"""
R_SUN_TO_EARTH = 109.076  # 1 solar radius = 109.076 Earth radii

# Ensure columns exist
if "pl_rade" in k2_cleaned.columns and "st_rad" in k2_cleaned.columns:
    # Compute transit depth (in ppm)
    k2_cleaned["transit_depth_ppm"] = ((k2_cleaned["pl_rade"] / (k2_cleaned["st_rad"] * R_SUN_TO_EARTH)) ** 2) * 1e6

    print("Transit depth (ppm) calculated and added as 'transit_depth_ppm'")
else:
    print("Columns 'pl_rade' or 'st_rad' not found in dataset.")


k2_cleaned.to_csv("k2_dataset_cleaned.csv")

Transit depth (ppm) calculated and added as 'transit_depth_ppm'

In [375]:
import pandas as pd

# Define mapping of columns for each dataset to standard column names
columns_mapping = {
    'koi': {
        'kepoi_name': 'name',
        'koi_disposition': 'disposition',
        'koi_period': 'orbital_period',
        'koi_srad': 'stellar_rad',
        'ra': 'rate_of_ascension',
        'dec': 'declination',
        'koi_duration': 'transit_duration',
        'koi_depth': 'transit_depth',
        'koi_prad': 'planet_radius',
        'koi_teq': 'planet_temperature',
        'koi_insol': 'insolation flux',
        'koi_steff' : 'stellar_temperature',
        'koi_srad' : 'stellar_radius'
    },
    'toi': {
        'toi': 'name',
        'tfopwg_disp': 'disposition',
        'pl_orbper': 'orbital_period',
        'st_rad': 'stellar_rad',
        'ra': 'rate_of_ascension',
        'dec': 'declination',
        'pl_trandurh': 'transit_duration',
        'pl_trandep': 'transit_depth',
        'pl_rade': 'planet_radius',
        'pl_eqt': 'planet_temperature',
        'pl_insol': 'insolation flux',
        'st_teff' : 'stellar_temperature',
        'st_rad' : 'stellar_radius'
    },
    'k2': {
        'pl_name': 'name',
        'disposition': 'disposition',
        'pl_orbper': 'orbital_period',
        'st_rad': 'stellar_rad',
        'ra': 'rate_of_ascension',
        'dec': 'declination',
        'pl_trandur': 'transit_duration',
        'transit_depth_ppm': 'transit_depth',
        'pl_rade': 'planet_radius',
        'pl_eqt': 'planet_temperature',
        'pl_insol': 'insolation flux',
        'st_teff' : 'stellar_temperature',
        'st_rad' : 'stellar_radius'
    }
}

# Load datasets
koi_df = pd.read_csv("koi_dataset_cleaned.csv")
toi_df = pd.read_csv("toi_dataset_cleaned.csv")
#k2_df = pd.read_csv("k2_dataset.csv")

# Keep only desired columns and rename them
koi_df = koi_df[list(columns_mapping['koi'].keys())].rename(columns=columns_mapping['koi'])
toi_df = toi_df[list(columns_mapping['toi'].keys())].rename(columns=columns_mapping['toi'])
#k2_df = k2_df[list(columns_mapping['k2'].keys())].rename(columns=columns_mapping['k2'])

# Combine all datasets
combined_df = pd.concat([koi_df, toi_df], ignore_index=True)
combined_df.to_csv("combined_dataset.csv", index=False)

# Save to a new CSV

print("Datasets combined successfully. Saved as combined_dataset.csv")

Datasets combined successfully. Saved as combined_dataset.csv

In [376]:
# Converting the radiuses to meters for log 10 conversion:
combined_df['planet_radius'] = combined_df['planet_radius'] * 6.378e+6
combined_df['stellar_radius'] = combined_df['stellar_radius'] * 6.957e+8

combined_df = combined_df[combined_df['disposition'] != "APC"]

combined_df.to_csv("combined_dataset.csv", index=False)

In [377]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import RobustScaler
df = pd.read_csv("combined_dataset.csv")

log_columns = [
    "orbital_period",
    "stellar_radius",
    "transit_duration",
    "transit_depth",
    "planet_radius",
    "planet_temperature",
    "insolation flux",
    "stellar_temperature",
    "stellar_radius"
]

for col in log_columns:
    if col in df.columns:
        df[col] = df[col].apply(lambda x: np.log10(x) if pd.notna(x) and x > 0 else np.nan)
    else:
        print(f"⚠️ Column '{col}' not found, skipping log transform.")

df.to_csv("combined_dataset_log.csv",index=False)


# === Separate numeric columns (except disposition) ===
numeric_cols = df.select_dtypes(include=[np.number]).columns.tolist()

# In case some numeric columns weren't listed before, we can still scale them
if "disposition" in df.columns:
    X = df.drop(columns=["disposition"])
    y = df["disposition"]
else:
    X = df.copy()
    y = None

# === Apply RobustScaler ===
scaler = RobustScaler()
X_scaled = pd.DataFrame(scaler.fit_transform(X[numeric_cols]), columns=numeric_cols)

# === Combine back with disposition (if it exists) ===
if y is not None:
    df_scaled = pd.concat([X_scaled, y.reset_index(drop=True)], axis=1)
else:
    df_scaled = X_scaled

# === Save the result ===
df_scaled.to_csv("combined_dataset_scaled.csv", index=False)

print("✅ Log10 + Robust scaling complete. Saved as 'combined_dataset_scaled.csv'.")

✅ Log10 + Robust scaling complete. Saved as 'combined_dataset_scaled.csv'.